/*body{
    text-align: center;
}
div{
    
    height: 100px;
    width:250px;
    display:inline-block;
    border:2px solid black;
}
#container
{
    width:600px;
    height:600px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap: wrap;
    align-items: flex-start;
   align-content: flex-start;
}
#box1
{
    background-color: antiquewhite;
}
#box2
{
    background-color: azure;
    height:200px;
    flex-grow: 1;
}
#box3
{
    background-color: blue;
}
#box4
{
    background-color:aliceblue;

}
#box5
{
    background-color: blueviolet;
    
}*/
.navbar{
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
    background-color: aqua;
}
.outer
{
    height: 400px;
    width: 400px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner
{
    height: 100px;
    width:100px;
    background-color: blue;
}